
[submodule "MSS5004W-FirmwareUpgrader"]
	path = MSS5004W-FirmwareUpgrader
	url = https://github.com/swordliongit/MSS5004W-FirmwareUpgrader.git
[submodule "CustomTkinter"]
	path = CustomTkinter
	url = https://github.com/swordliongit/CustomTkinter.git
[submodule "ocpp"]
	path = ocpp
	url = https://github.com/swordliongit/ocpp.git
[submodule "Bitmap-Bitarray-Suite"]
	path = Bitmap-Bitarray-Suite
	url = https://github.com/swordliongit/Bitmap-Bitarray-Suite.git
